---
layout: page
---
{% include lang.html %}

<!-- Get pinned posts -->
{% assign all_pinned = site.posts | where: 'pin', 'true' %}
<!-- Get normal posts -->
{% assign all_normal = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}
<!-- Merge pinned and normal posts -->
{% assign all_posts = all_pinned | concat: all_normal %}

<div class="portfolio-page">
  <div class="projects-container">
    {% for post in all_posts %}
      <a href="{{ post.url }}" class="project-card-link">
        <article class="project-card">
          {% if post.image %}
            <div class="project-image">
              <img src="{{ post.image | relative_url }}" alt="{{ post.title }} Preview">
            </div>
          {% endif %}
          
          <div class="project-info">
            <h3>{{ post.title }}</h3>
            <p>
              {% if post.description %}
                {{ post.description }}
              {% else %}
                {% include post-description.html %}
              {% endif %}
            </p>
            
            <!-- Article Metadata Tags -->
            <div class="article-metadata">
    

              <!-- Categories -->
              {% if post.categories %}
                {% for cat in post.categories %}
                  <div class="meta-tag category">
                    <span class="meta-label">{{ cat }}</span>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </article>
      </a> 
    {% endfor %}
  </div>
</div>

